@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Car Insurance</h1>
    <p class="lead">This is the cheapest insurance around</p>
    

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Just fill out our form and your free quote today
        </p>
        <p><a class="btn btn-default" href="https://localhost:44313/insuree/index">CLick Here &raquo;</a></p>
    </div>
    
    </div>
</div>